@import "compass";

// @import "generic/normalize";
@import "generic/variables";
@import "generic/mixins";


@import "modules/header";



*, *:before, *:after {
  font-family: $fontDefault;
  margin: 0; padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: relative;
}



footer {
  display: none;

  width: 100%;
  padding: 0 60px;

  font-size: 11px;

  position: absolute;
  bottom: 0;
  left: 0;

  .copy {
    padding: 10px 0;
    border-top: 1px solid #000;
  }
}


.thankyou {
  font-size: 60px;
  // color: $red;
  text-transform: uppercase;
  text-align: center;

  position: absolute;
  top: 30px;
  width: 100%;

  z-index: 1111;

  display: none;

  &.active {
    display: block;
  }
}


.username {
  font-size: 24px;
  // color: $red;
  text-transform: uppercase;
  text-align: center;

  position: absolute;
  top: 110px;
  width: 100%;

  color: $red;

  z-index: 1111;

  display: none;

  &.active {
    display: block;
  }
}


#primary {
  position: relative;
  padding: 0 60px;

  & > .heading1:first-child {
    padding-top: 80px;
    border-top: 1px solid #000;
  }

  .alert {
    text-align: center;
  }

  // padding-bottom: 180px;
  // background-color: pink;
}

.heading1 {

  font-size: 60px;
  line-height: 1;
  font-weight: 700;
  font-family: $fontDefault;
  margin-bottom: 10px;

  &.alert {
    font-size: 80px;
    padding: 240px 0 0 !important;
    text-align: center;
  }

  strong {
    color: $red;
  }
}


.heading2 {
  font-size: 24px;
  font-weight: 700;
}




.demo-box {
  .chapters li {
    visibility: hidden;
  }

  .chapters:hover li {
    visibility: visible;
  }
}


.chapters {
  padding-top: 80px;
  margin-left: 30px;

  li {
    font-size: 30px;
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: #000;


    &:hover {
      color: $red;
    }
  }
}







.app-nav {
  position: absolute;
  top: 0;
  right: 60px;

  li {
    width: 45px;
    height: 5px;
    display: inline-block;
    overflow: hidden;

    margin: 0 5px;
  }

  a {
    width: inherit;
    height: inherit;
    display: block;
    text-indent: -9000px;

    background-color: $gray;

    &.selected,
    &:hover {
      background-color: $red;
    }
  }
}



.module {
  a {
    color: #000;

    &:hover {
      color: $red;
    }
  }
}


.user strong {
  color: $red;
}


.demo-box {
  overflow: hidden;
  width: 100%;
  padding: 60px 0;
  border-top: 1px solid #000;

  * {
    vertical-align: top;
  }

  .highlight {
    list-style-color: green;
    color: $red;

    span {
      // color: #000;
    }
  }

  .visual {
    width: 50%;
    text-align: center;
    display: inline-block;
  }

  &.step3 {
    text-align: center;

    .visual {
      width: 100%;
      margin-bottom: 60px;
    }
  }

  strong {
    color: $red;
  }

  ul {
    width: 40%;
    display: inline-block;
  }
}



.photoshop {
  padding-top: 60px;
  p {
    margin-bottom: 10px;
  }

  .problem,
  .solution {
    width: 49%;
    float: left;
  }

  .more {
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }
}




.next-page {
  color: $gray;
  font-size: 50px;
  text-transform: uppercase;

  position: absolute;
  bottom: 30px;
  right: 30px;

  a {
    text-decoration: none;
    color: $gray;

    &:hover {
      color: #000;
    }
  }
}


.twitter {
  position: absolute;
  top: 60px;
  right: 60px;
  z-index: 1111;

  &.left {
    right: auto;
    left: 250px;
  }
}


@import "modules/scene";
@import "modules/transforms";
@import "modules/2d";
@import "modules/3d";

@import "modules/triangles-formation";
@import "modules/hexa-grid";

@import "modules/spiral";
@import "modules/cube";

@import "modules/leap";


