/* —- Utils -— */

@import "utils/reset";
@import "utils/box-sizing";



/* —- Tools -— */

@import "compass";

@import "mixins/position-elements";
@import "mixins/photoshop-drop-shadow";
@import "mixins/photoshop-letter-spacing";
@import "mixins/mixins";


/* —- Settings -— */

@import "settings/variables";
@import "settings/typography";


/* —- Components -— */

@import "components/grid-demo";
@import "components/gradient-demo";
@import "components/shapes-demo";
@import "components/pyramid-demo";
@import "components/cube-demo";
@import "components/triangles-demo";
@import "components/hexa-demo";
@import "components/leap-demo";



* {
	transform-style: preserve-3d;
}


html,
body,
#container {
	width: 100%;
	height: 100%;
}