<header class="inner">
  <p class="title">Math &amp; Geometry in CSS</p>
  <h1 id="logo"><a href="/">R/GA</a></h1>
</header>

<div id="primary">

  <div class="demo-box">
    <p class="visual"><img src="images/demo/1.jpg"></p>
    <ul class="chapters">
      <li>Images for slopes</li>
      <li class="highlight">Different image for each color</li>
      <li class="highlight">Increased requests nr</li>
      <li class="highlight">Different image for responsive breakpoint</li>
    </ul>
  </div>

  <ul class="app-nav">
    <li><a href="#/chapter1">chapter 1</a></li>
    <li><a href="#/chapter2">chapter 2</a></li>
    <li><a href="#/chapter3">chapter 3</a></li>
    <li><a href="#/chapter4">chapter 4</a></li>
    <li><a href="#/chapter5">chapter 5</a></li>
    <li><a href="#/chapter6">chapter 6</a></li>
    <li><a href="#/chapter7">chapter 7</a></li>
    <li><a href="#/chapter8">chapter 8</a></li>
  </ul>
</div>


<p class="next-page"><a href="#/chapter0/1">next</a></p>
