<header class="inner">
  <p class="title">Math &amp; Geometry in CSS</p>
  <h1 id="logo"><a href="/">R/GA</a></h1>
</header>

<div id="primary">
  <h1 class="heading1"><strong>Whats in it for us</strong></h1>


  <ul class="chapters">
    <li>Fewer images</li>
    <li>More control</li>
    <li>Improved speed</li>
    <li>Increased maintainability &amp; scalability</li>

    <!-- <li>no js</li> -->

    <!-- <li>Build Layout components without images</li>
    <li>Corelate PS angle based values to CSS offset based values</li> -->
    <li>Create 3D objects</li>
    <li>Complex animations</li>
  </ul>

  <ul class="app-nav">
    <li><a href="#/chapter1" class="selected">chapter 1</a></li>
    <li><a href="#/chapter2">chapter 2</a></li>
    <li><a href="#/chapter3">chapter 3</a></li>
    <li><a href="#/chapter4">chapter 4</a></li>
    <li><a href="#/chapter5">chapter 5</a></li>
    <li><a href="#/chapter6">chapter 6</a></li>
    <li><a href="#/chapter7">chapter 7</a></li>
    <li><a href="#/chapter8">chapter 8</a></li>
  </ul>
</div>


<p class="next-page"><a href="#/chapter2">next</a></p>
