<header class="inner">
  <p class="title">Math &amp; Geometry in CSS</p>
  <h1 id="logo"><a href="/">R/GA</a></h1>
</header>

<div id="primary">
  <h1 class="heading1"><strong>From Photoshop to CSS</strong></h1>
  <h2 class="heading2">Correlating Photoshop angle based values to CSS ofsset-x/y based values with help of trigonometric functions &amp; SASS</h2>


  <div class="module photoshop">
    <div class="problem">
      <p>Photoshop: </p>
      <p><img src="images/ps-shadow.png" alt="Trigonometric functions" /></p>
      <br />
      <p>CSS: </p>
      <p><img src="images/css-shadow.png" alt="Trigonometric functions" /></p>
    </div>

    <div class="solution">
      <p>SASS: </p>
      <p><img src="images/sass-shadow.png" alt="Trigonometric functions" /></p>
    </div>

    <div class="more">
      <p>More:</p>
      <p>Tim Hettler: <a href="https://www.youtube.com/watch?v=Xe0ezuJEwPU" target="_blank">https://www.youtube.com/watch?v=Xe0ezuJEwPU</a></p>
      <p>Grady Kuhnline: <a href="https://github.com/heygrady/compass-photoshop-drop-shadow" target="_blank">https://github.com/heygrady/compass-photoshop-drop-shadow</a></p>

    </div>
  </div>


  <ul class="app-nav">
    <li><a href="#/chapter1">chapter 1</a></li>
    <li><a href="#/chapter2">chapter 2</a></li>
    <li><a href="#/chapter3">chapter 3</a></li>
    <li><a href="#/chapter4" class="selected">chapter 4</a></li>
    <li><a href="#/chapter5">chapter 5</a></li>
    <li><a href="#/chapter6">chapter 6</a></li>
    <li><a href="#/chapter7">chapter 7</a></li>
    <li><a href="#/chapter8">chapter 8</a></li>
  </ul>
</div>


<p class="next-page"><a href="#/chapter5">next</a></p>
