<header class="inner">
  <p class="title">Math &amp; Geometry in CSS</p>
  <h1 id="logo"><a href="/">R/GA</a></h1>
</header>

<div id="primary">
  <h1 class="heading1"><strong>2D</strong> Poligons</h1>
  <h2 class="heading2"></h2>


  <div class="module transforms">
    <div id="scene-holder">
      <div id="scene" class="twod"></div>



      <input type="checkbox" value="" id="anim-trigger" />
      <label class="anim-trigger" for="anim-trigger">Click me !</label>

      <div id="hexa-grid">
        <div class="grid-group">
          <div class="hexagon">
            <div class="inner">
              <video width="178" height="100" autoplay loop class="vid2">
                <source src="videos/intro1.mp4" type="video/mp4">
              </video>
            </div>
          </div>

          <div class="hexagon">
            <div class="inner">
            </div>
          </div>

          <div class="hexagon">
            <div class="inner"></div>
          </div>

          <div class="hexagon">
            <div class="inner">
              <video width="178" height="100" autoplay loop class="vid1"> <!-- autoplay -->
                <source src="videos/intro2.mp4" type="video/mp4">
              </video>
            </div>
          </div>
        </div>

        <div class="grid-group">
          <div class="hexagon">
            <div class="inner"></div>
          </div>

          <div class="hexagon">
            <div class="inner">
              <video width="178" height="100" autoplay loop class="vid2"> <!-- autoplay -->
                <source src="videos/intro3.mp4" type="video/mp4">
              </video>
            </div>
          </div>

          <div class="hexagon">
            <div class="inner"></div>
          </div>
        </div>

        <div class="grid-group">
          <div class="hexagon">
            <div class="inner"></div>
          </div>

          <div class="hexagon">
            <div class="inner">
              <video width="178" height="100" autoplay loop class="vid3"> <!-- autoplay -->
                <source src="videos/intro4.mp4" type="video/mp4">
              </video>
            </div>
          </div>

          <div class="hexagon">
            <div class="inner"></div>
          </div>

          <div class="hexagon">
            <div class="inner"></div>
          </div>
        </div>

        <div class="grid-group">
          <div class="hexagon">
            <div class="inner"></div>
          </div>

          <div class="hexagon">
            <div class="inner"></div>
          </div>

          <div class="hexagon">
            <div class="inner">
              <video width="178" height="100" autoplay loop class="vid4"> <!-- autoplay -->
                <source src="videos/intro5.mp4" type="video/mp4">
              </video>
            </div>
          </div>
        </div>

        <div class="grid-group">
          <div class="hexagon">
            <div class="inner">
              <video width="178" height="100" autoplay loop class="vid5"> <!-- autoplay -->
                <source src="videos/intro6.mp4" type="video/mp4">
              </video>
            </div>
          </div>

          <div class="hexagon">
            <div class="inner"></div>
          </div>

          <div class="hexagon">
            <div class="inner"></div>
          </div>

          <div class="hexagon">
            <div class="inner"></div>
          </div>
        </div>

        <div class="grid-group">
          <div class="hexagon">
            <div class="inner">
              <video width="178" height="100" autoplay loop class="vid6"> <!-- autoplay -->
                <source src="videos/intro7.mp4" type="video/mp4">
              </video>
            </div>
          </div>

          <div class="hexagon">
            <div class="inner"></div>
          </div>

          <div class="hexagon">
            <div class="inner"></div>
          </div>
        </div>

        <div class="grid-group">
          <div class="hexagon">
            <div class="inner"></div>
          </div>

          <div class="hexagon">
            <div class="inner"></div>
          </div>

          <div class="hexagon">
            <div class="inner"></div>
          </div>

          <div class="hexagon">
            <div class="inner">
              <video width="178" height="100" autoplay loop class="vid7"> <!-- autoplay -->
                <source src="videos/intro8.mp4" type="video/mp4">
              </video>
            </div>
          </div>
        </div>

      </div>


      <div id="matrix-scene">
        <video width="500"<!-- height="203" controls> <!-- autoplay -->
          <source src="videos/construct-scene.mp4" type="video/mp4">
        </video>
      </div>

    </div>
  </div>


  <ul class="app-nav">
    <li><a href="#/chapter1">chapter 1</a></li>
    <li><a href="#/chapter2">chapter 2</a></li>
    <li><a href="#/chapter3">chapter 3</a></li>
    <li><a href="#/chapter4">chapter 4</a></li>
    <li><a href="#/chapter5">chapter 5</a></li>
    <li><a href="#/chapter6" class="selected">chapter 6</a></li>
    <li><a href="#/chapter7">chapter 7</a></li>
    <li><a href="#/chapter8">chapter 8</a></li>
  </ul>
</div>


<p class="next-page"><a href="#/chapter7">next</a></p>
