<header>
  <h1 id="logo">R/GA</h1>
</header>


<div id="primary">
  <h1 class="heading1"><strong>Math driven CSS</strong></h1>

  <h1 class="heading1">How to make use of Math &amp; Geometry in CSS</h1>

  <h1 class="user">By: <strong>Mihnea Belcin</strong></h1>


  <ul class="chapters">
    <li><a href="#/chapter1">Whats in it for us</a></li>
    <li><a href="#/chapter2">Making it happen</a></li>
    <li><a href="#/chapter3">In the future</a></li>
  </ul>

  <ul class="app-nav">
    <li><a href="#/chapter1">chapter 1</a></li>
    <li><a href="#/chapter2">chapter 2</a></li>
    <li><a href="#/chapter3">chapter 3</a></li>
    <li><a href="#/chapter4">chapter 4</a></li>
    <li><a href="#/chapter5">chapter 5</a></li>
    <li><a href="#/chapter6">chapter 6</a></li>
    <li><a href="#/chapter7">chapter 7</a></li>
  </ul>
</div>

<p class="next-page"><a href="0.html">next</a></p>
