$hexa-side: 100px;

$hexa-anim-delay: 15s;
#hexa-grid {
  @include centerItem($hexa-side * 4 + (3 * $hexa-side/2) + 12, $hexa-side * 4); // border * items nr
  z-index: 1;


  .grid-group {
    position: relative;
    height: $hexa-side * sqrt(3)/2;

    &:nth-child(even) {
      background-color: transparent !important;
      left: $hexa-side * sqrt(3)/2 * cos(30deg) + 2;

      margin-top: - $hexa-side * sqrt(3)/2/2 + 1;
    }
  }

  .hexagon {
    overflow: hidden;

    // romb
    @include centerItem($hexa-side, $hexa-side * sqrt(3)/2 );
    margin-left: 0;
    transform: rotate(60deg) skewX(30deg);
    -webkit-transform: rotate(60deg) skewX(30deg);

    // hexagon
    .inner {
      width: inherit;
      height: inherit;
      display: block;
      content: "";

      background-color: $red;

      transform: skewX(-30deg)
                  rotate(-60deg);
      -webkit-transform: skewX(-30deg)
                  rotate(-60deg);
    }

    video {
      transform: rotateX(90deg);
      -webkit-transform: rotateX(90deg);
    }
  }

  @for $x from 1 through 8 {
    video.vid#{$x} {
      transition: all ($x * 0.06) + 0.3s ease-in;
      transition-delay: $x * 0.24s;

      -webkit-transition: all ($x * 0.06) + 0.3s ease-in;
      -webkit-transition-delay: $x * 0.24s;
    }
  }

  @for $x from 1 through 6 {
    .hexagon:nth-child(#{$x}) {
      left: ($x - 1) * $hexa-side + ($hexa-side /  2 * ($x - 1)) + ($x - 1) * 4;

      transition: all ($x * 0.06) + 1.2s ease-in;
      transition-delay: ($x * 0.25) + $hexa-anim-delay;

      -webkit-transition: all ($x * 0.06) + 1.2s ease-in;
      -webkit-transition-delay: ($x * 0.25) + $hexa-anim-delay;
    }
  }

  @for $x from 2 through 8 {
    .grid-group:nth-child(#{$x}) {
      margin-top: - $hexa-side * sqrt(3)/2/2 + 1;
    }
  }

}


#anim-trigger {
  position: absolute;
  top: 8px;
  left: 5px;
}

.anim-trigger {
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 25px;
}


#anim-trigger:checked + .anim-trigger {
  color: $red;
}


#anim-trigger:checked + .anim-trigger + #hexa-grid {
  video {
    transform: translateZ(0px);
    -webkit-transform: translateZ(0px);
  }

  .hexagon {
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    opacity: 0;
  }
}


#anim-trigger:checked + .anim-trigger + #hexa-grid + #matrix-scene {
  video {
    opacity: 1;
  }
}


$matrix-video-width: 500px;
$matrix-video-height: 203px;
#matrix-scene {
  @include centerItem($matrix-video-width, $matrix-video-height);
  z-index: 2;

  video {
    opacity: 0;
    width: inherit;
    height: inherit;

    transition: all 1s ease-in;
    transition-delay: $hexa-anim-delay + 2;

    -webkit-transition: all 1s ease-in;
    -webkit-transition-delay: $hexa-anim-delay + 2;
  }
}
