$scene-size: 800px;
#scene-holder {

  width: $scene-size * 1.5;
  height: $scene-size * 0.65;

  margin: 60px auto;
  overflow: hidden;
  border: 3px solid #000;

  position: relative;

  perspective: 1000px;
  -webkit-perspective: 1000px;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

  *, *:before, *:after { 
    transform-style: preserve-3d; 
    -webkit-transform-style: preserve-3d; 
  }
}

#scene,
#scene:before {
    @include centerItem($scene-size);

    border: 4px solid #A0A0A0;

    background-color: #eee;
    background-image: linear-gradient(45deg, #fefefe 25%, transparent 25%, transparent 75%, #fefefe 75%, #fefefe),
                      linear-gradient(45deg, #fefefe 25%, transparent 25%, transparent 75%, #fefefe 75%, #fefefe);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}


#scene {
  &.threed {
    margin-top: -$scene-size/3;
    // bottom: 0;
    transform: rotateX(75deg);
    -webkit-transform: rotateX(75deg);

    &:before {
      content: '';
      transform: rotateX(90deg) translateZ($scene-size/2) translateY($scene-size/2);
      -webkit-transform: rotateX(90deg) translateZ($scene-size/2) translateY($scene-size/2);
    }
  }

  &.twod {
    width: $scene-size * 2;
    margin-left: -$scene-size;
  }

}

