.transform-controllers {
  width: 100%;
  overflow: hidden;

  margin-bottom: 60px;

  .controller {
    float: left;
    width: 20%;
  }

  .controller-title {
    margin-bottom: 5px;
  }

  .output {
    font-size: 11px;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;

    li {
      margin-bottom: 5px;
    }
  }

  span {
    color: $red;
  }
}
