/**
 * variables.scss
 *
 * MB.com
 * @ 2014
 *
 * @author Mihnea Belcin
 */

/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colors
$white : #fff;
$black : #000;
$red : #E51837;
$gray: #E6E6E6;

$brand-facebook: #03539e;
$brand-twitter: #2daae4;


$color1: #C44032;
$color2: #E36B23;
$color3: #4484BE;
$color4: #5CA028;
$color5: #E6C92E;
$color6: #7073CF;
$color7: #C44032;
$color8: #E6C92E;
$color9: #7073CF;

$colors: $color1, $color2, $color3, $color4, $color5, $color6, $color7, $color8, $color9;

// Font
$fontDefault: "Helvetica Neue","HelveticaNeue", Helvetica, Arial, sans-serif;


//Breakpoints
$defaultWidth:                 1024px !default;
$smallWidth:                   320px  !default;
$mediumWidth:                  768px  !default;
$landscapeBreakpointWidth:     961px  !default;
$largeWidth:                   1024px !default;
$hugeWidth:                    1200px !default;
