$square-size: 150px;
#square {
  @include centerItem($square-size);
  background-color: $red;
}

#ax-x {
  width: inherit;
  height: 2px;
  background-color: #000;

  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
}

#ax-y {
  width: 2px;
  height: inherit;
  background-color: #000;

  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -1px;
}

.figure-hodler {
  width: 200px;
  height: 100%;
  float: left;
  position: relative;
  overflow: visible;

  &.double {
    width: 394px;
  }

  .code {
    height: 100%;
    width: 1000px;
    display: none;

    background-color: #FFF;

    position: absolute;
    left: 100%;
    top: 0;
    z-index: 0;

    border-left: 3px solid #000;
    border-right: 3px solid #000;
  }

  &.right-side {
    text-align: right;

    .code {
      left: 0;
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
    }


    &:hover:before {
      left: 200px;
    }


    &.double:before {
      display: none;
    }
  }


  &:hover {
    z-index: 10;


    &:before {
      display: block;
      content: '';
      width: 400px;
      height: inherit;

      border-left: 3px solid #000;
      border-right: 3px solid #000;

      position: absolute;
      top: 0;
      left: -400px;

      background-color: #FFF;

      // transform: translateX(-400px);
    }

    .code {
      display: block;
    }
  }
}

$romb-side: 150px;
#romb {
  @include centerItem($romb-side);

  background-color: $red;

  transform: rotate(60deg) skewX(30deg) scaleY(cos(30deg));
  -webkit-transform: rotate(60deg) skewX(30deg) scaleY(cos(30deg));
}


$triangle-side: 150px;
#triangle {
  overflow: hidden;


  &:hover {
    background-color: transparentize($gray, 0.5);
    border: 1px dashed #000;
  }

  // romb
  @include centerItem($triangle-side, $triangle-side * sqrt(3)/2 );

  transform: rotate(60deg) skewX(30deg);
  -webkit-transform: rotate(60deg) skewX(30deg);

  // triangle
  &:before {
    width: inherit;
    height: inherit;
    display: block;
    content: "";

    background-color: $red;

    transform: skewX(-30deg)
                rotate(-60deg)
                translateY(50%);
    -webkit-transform: skewX(-30deg)
                rotate(-60deg)
                translateY(50%);
  }
}



$pentagon-side: 150px;
#pentagon {
  @include centerItem($pentagon-side);
  z-index: 11111;
  overflow: hidden;

  transform: rotate(-36deg) /* -(90deg - 18deg) / 2 */
             skewX(18deg)
             scaleY(cos(18deg));

  -webkit-transform: rotate(-36deg) /* -(90deg - 18deg) / 2 */
             skewX(18deg)
             scaleY(cos(18deg));


  &:hover {
    background-color: transparentize($gray, 0.5);
    border: 1px dashed #000;
    overflow: visible;

    .inner {
      background-color: transparentize($gray, 0.5);
      border: 1px dashed #000;
    }
  }


  .inner {
    width: inherit;
    height: inherit;
    overflow: hidden;

    transform: scaleY(1/cos(18deg))
                skewX(-18deg)
                rotate(36deg)
                translateY(-36.33%)
                rotate(18deg)
                skewY(54deg)
                scaleX(cos(54deg));
    -webkit-transform: scaleY(1/cos(18deg))
                skewX(-18deg)
                rotate(36deg)
                translateY(-36.33%)
                rotate(18deg)
                skewY(54deg)
                scaleX(cos(54deg));


    &:before {
      width: inherit;
      height: inherit;

      display: block;
      content: '';

      background: $red;

      transform: scaleX(1/cos(54deg))
                  skewY(-54deg)
                  rotate(-18deg)
                  translateY(-13.67%);

      -webkit-transform: scaleX(1/cos(54deg))
                  skewY(-54deg)
                  rotate(-18deg)
                  translateY(-13.67%);
    }
  }
}



$hexagon-side: 150px;
#hexagon {
  overflow: hidden;
  // romb
  @include centerItem($hexagon-side, $hexagon-side * sqrt(3)/2 );
  transform: rotate(60deg) skewX(30deg);
  -webkit-transform: rotate(60deg) skewX(30deg);

  &:hover {
    background-color: transparentize($gray, 0.5);
    border: 1px dashed #000;
  }

  // hexagon
  &:before {
    width: inherit;
    height: inherit;
    display: block;
    content: "";

    background-color: $red;

    transform: skewX(-30deg)
                rotate(-60deg);

    -webkit-transform: skewX(-30deg)
                rotate(-60deg);

    // transform: scaleY(1/cos(30deg))
    //             skewX(-30deg)
    //             rotate(-60deg);
  }
}



$star-side: 150px;
#star {
  @include centerItem($hexagon-side, $hexagon-side * sqrt(3)/2 );

  transform: rotate(30deg) skewX(30deg);
  -webkit-transform: rotate(30deg) skewX(30deg);

  background-color: $red;

  &:hover {
    background-color: transparentize($red, 0.5);
    border: 1px dashed #000;

    &:before, &:after {
      background-color: transparentize($red, 0.5);
      border: 1px dashed #000;
    }
  }

  &:before, &:after {
    width: inherit;
    height: inherit;
    display: block;
    content: '';
    position: absolute;

    background-color: $red;
  }

  &:before {
    transform: skewX(-30deg) skewX(-30deg);
    -webkit-transform: skewX(-30deg) skewX(-30deg);
  }

  &:after {
    transform: skewX(-30deg) rotate(-60deg) skewX(-30deg);
    -webkit-transform: skewX(-30deg) rotate(-60deg) skewX(-30deg);
  }
}
